<div class="headerSection">
  <img
    src="https://github.com/Sam-Varghese/aista.harvester/blob/279d417dfa85a4ea7e9a6c1789125b1404514172/Aista-Angular-Site/src/assets/images/aistaLogo.jpg?raw=true"
    alt="Logo"
  />
  <h1>Aista</h1>
</div>

<div class="countdownDiv">
  <div class="countdownItems">{{daysLeft}} days</div>
  <div class="countdownItems">{{hoursLeft}} hours</div>
  <div class="countdownItems">{{minutesLeft}} minutes</div>
  <div class="countdownItems">{{secondsLeft}} seconds</div>
  <span class="toGo">to go...</span>
</div>
<h2>Subscribe</h2>
