<h1>Subscribe</h1>
<div class="formDiv">
  <form action="">
    <mat-form-field class="formStyle">
      <mat-label>Name: </mat-label>
      <input matInput required autofocus/>
    </mat-form-field>
    <mat-form-field class="formStyle">
      <mat-label>Email: </mat-label>
      <input matInput type="email" required/>
    </mat-form-field>
    <mat-checkbox>I subscribe to Aista newsletters.</mat-checkbox>
    <br />
    <br />
    <button mat-button color="primary">Submit</button>
  </form>
</div>
