@use "../header/header.component.scss" as headerPageStyles;

.formDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5vw;
  font-size: 1.5vw;

  input {
    margin-left: 1vw;
    font-size: 1.5vw;
    margin: 0.5vw;
  }
  label {
    font-size: 1.5vw;
  }

  button {
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: greenyellow;
  }
}
